<?xml version="1.0"?>
<config>
    <modules>
        <Zentralweb_Windowconf>
            <version>1.0.0</version>
        </Zentralweb_Windowconf>
    </modules>
    <global>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <zentralweb_windowconf_observer>
                        <type>singelton</type>
                        <class>Zentralweb_Windowconf_Model_Observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </zentralweb_windowconf_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_add_item>
                <observers>
                    <zentralweb_windowconf_observer>
                        <type>singelton</type>
                        <class>Zentralweb_Windowconf_Model_Observer</class>
                        <method>sales_quote_add_item</method>
                    </zentralweb_windowconf_observer>
                </observers>
            </sales_quote_add_item>
            <sales_quote_item_set_product>
                <observers>
                    <zentralweb_windowconf_observer>
                        <type>singleton</type>
                        <class>Zentralweb_Windowconf_Model_Observer</class>
                        <method>sales_quote_item_set_product</method>
                    </zentralweb_windowconf_observer>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <blocks>
            <windowconf>
                <class>Zentralweb_Windowconf_Block</class>
            </windowconf>
        </blocks>
        <helpers>
            <windowconf>
                <class>Zentralweb_Windowconf_Helper</class>
            </windowconf>
        </helpers>
        <models>
            <windowconf>
                <class>Zentralweb_Windowconf_Model</class>
                <resourceModel>windowconf_resource</resourceModel>
            </windowconf>
            <windowconf_resource>
                <class>Zentralweb_Windowconf_Model_Resource</class>
                <entities>
                    <windowconf>
                        <table>window_conf_jsons</table>
                    </windowconf>
                </entities>
            </windowconf_resource>
        </models>
        <resources>
            <zentralweb_windowconf_setup>
                <setup>
                    <module>Zentralweb_Windowconf</module>
                    <class>Zentralweb_Windowconf_Model_Resource_Setup</class>
                </setup>
            </zentralweb_windowconf_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <zwwindowconf module="Zentralweb_windowconf">
                    <file>windowconf.xml</file>
                </zwwindowconf>
            </updates>
        </layout>
        <routers>
            <windowconf>
                <use>standard</use>
                <args>
                    <frontName>windowconf</frontName>
                    <module>Zentralweb_Windowconf</module>
                </args>
            </windowconf>
        </routers>
    </frontend>
</config>
